@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);
html,
body {
    font-family: 'Orbitron', sans-serif;
}

.timer {
    position: fixed;
    top: 50%;
    left: 50%;
    white-space: nowrap;
    line-height: 0.75;
    transform: translate(-50%, -50%);
    font-size: 64px;
    color: #D7ECFF;
}
